<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>safetyCheck WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>safetyCheck WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>safetyCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBE910201FA3DCAE00156F81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBE910341FA3DCAE00156F81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBE9103F1FA3DCAE00156F81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBE910481FA3DCAE00156F81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
