<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>safeStart WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>safeStart WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>safeStart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB600DF11FA7959900C5EF70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB600E051FA7959A00C5EF70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB600E101FA7959A00C5EF70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB600E191FA7959A00C5EF70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
